main {
    max-width: 850px !important;
}

html[data-mode=dark] img {
    /* filter: contrast(.85)grayscale(.3); */
    filter: initial !important;
}


video.rb_custom {
    max-width: 90%;
    margin: 1rem auto;
}