main {
  max-width: 850px !important;
}

html[data-mode="dark"] img {
  /* filter: contrast(.85)grayscale(.3); */
  filter: initial !important;
}

article > pre,
.katex-display,
.highlight > pre,
.highlight > .chroma {
  max-height: fit-content !important;
}

video.rb_custom {
  max-width: 90%;
  margin: 1rem auto;
}
